@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global styles */
:root {
  --font-family: 'Poppins', sans-serif;
  --primary-color: #EE52EE;
  --secondary-color: #c3c2c2;
  --error-color: #ff0000;
  --base-font-size: medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  font-weight: normal;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

/* Content utama flex home-result */
.main-content {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap : 50px;

}

.section-home {
    width: 50%;
    padding: 30px;
}

.section-result {
    width: 50%;
    padding: 30px;
}
/* Content utama flex home-result - END */

/* Common styles */
.title {
  font-size: 25px;
  margin: 10px 0;
}

.sub-title {
  font-size: 20px;
}

.paragraph {
  text-align: justify;
  line-height: 30px;
  color: #1f1e1e;
}

.paragraph sup {
  font-size: 13px;
}

.mb-1 {
  margin-bottom: 30px;
}
/* styles button */
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.btn:hover {
  background-color: #EE12EE;
}
/* styles button reset */
.btn-reset {
  background-color: white;
  border: 1px solid gray;
  color: black;
}

.btn-reset:hover {
  background-color: #c3c2c2;
}

/* pesan error */
.error-message {
  color: var(--error-color);
  font-size: 13px;
  margin-top: 5px;
}

/* Home styles */
.container {
  margin: .3s0px 5%;
}

.form {
  background-color: #dbdbdbcd;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}

.form .form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form .form-input {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--secondary-color);
  appearance: none;
}

.form .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  gap:10px;
}

.form .input-group > .form-input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.features {
  margin-left: 20px;
  line-height: 30px;
  color: #1f1e1e;
}

/* Result styles */
.sub-container {
  background-color: #dbdbdbcd;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* styles Hasil */
.result-title {
  font-size: 18px;
}

.result-bmi {
  font-size: 50px;
}

.result-desc {
  margin: 10px 0 20px;
  font-size: 15px;
  
}

.button-cta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.button-cta button {
  font-size: 12px;
}

.list-risk {
  list-style: none;
  text-align: center;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.img {
  width: 300px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
}

/* Tampilan mobile */
@media (max-width: 600px) {
    .main-content {
      flex-direction: column;
    }
  }
